/* flex布局 */
.df-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.df-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt {
    background-image: linear-gradient(180deg, #ddd, #ddd 50%, transparent 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
}

.bb {
    background-image: linear-gradient(180deg, transparent 0%, #ddd 50%, #ddd 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.border-half {
    position: relative;
}

.border-half:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    border: 1px solid #ddd;
}

.line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb10 {
    margin-bottom: 0.1rem;
}